@import '../variables';

navbar {

  display: block;
  background: $darkest-blue;
  border: 0;

  .container {
    width: 91%;
    max-width: 1340px;
  }

  fullstack-logo {
    margin-right: 20px;
  }

  a {
    font-family: $header-font-stack;
    color: lighten($dark-slate-blue, 15%);
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      background: lighten($darkest-blue, 10%);
      color: white;
    }
    &:hover {
      background: none;
      color: white;
    }
    &:focus {
    }
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      font-family: $header-font-stack;
      color: lighten($dark-slate-blue, 15%);
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      font-family: $header-font-stack;
      color: $super-bright-blue;
      cursor: pointer;
    }
  }

}
